$background: #A1A1A5;
$base: #EAE6EF;
$dark: #291711;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $base;
    width: 100vw;
    height: 100vh;
    // height: 2000px;
    border: 40px solid $base;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.inside{
    background-color: transparent;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    // position: sticky;
    // top: 40px;
    // left: 40px;
    border: 1px solid $dark;
}

.figure-one{
    height: 200px;
    width: 200px;
    border-radius: 40px;
    position: relative;
    top:-200px;
    left:-200px;
    z-index: -1;
    background-color: #36558F ;
    animation: 120s  0s infinite movimento-one;
}
@keyframes movimento-one {
    0%, 100%{
        transform: translate(-10vw,-10vh) rotate(120deg);
    }
    33%{
        transform: translate(120vw, 50vh) rotate(-240deg);
    }
    66%{
       transform: translate(50vw, 120vh) rotate(-360deg);
    }
}

.figure-two{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top:0px;
    right:0px;
    z-index: -1;
    background-color: #07BEB8 ;
    animation: 40s  0s infinite movimento-two;
}
@keyframes movimento-two {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(4);
    }
}

.figure-three{
    height: 300px;
    width: 300px;
    background-color: #0A8754;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    position: absolute;
    bottom:-80px;
    left:-80px;
    z-index: -1;
    animation: 30s  0s linear infinite movimento-three;
}
@keyframes movimento-three {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


