$background: #A1A1A5;
$base: #F4F2F7;
$dark: #291711;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $base;
    width: 100vw;
    height: 100vh;
    border: 40px solid $base;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.inside{
    background-color: transparent;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    border: 1px solid $dark;
}

.figure-one{
    height: 200px;
    width: 200px;
    border-radius: 40px;
    position: relative;
    top:-200px;
    left:-200px;
    z-index: -1;
    background-color: #36558F ;
    opacity: 0.7;
    animation: 12s  0s infinite movimento-one;
}
@keyframes movimento-one {
    0%, 100%{
        transform: translate(-10vw,-10vh) rotate(120deg);
    }
    33%{
        transform: translate(110vw, 50vh) rotate(-240deg);
    }
    66%{
       transform: translate(50vw, 120vh) rotate(-360deg);
    }
}


