* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

body {
  background-color: #F4F3F7;
  width: 100dvw;
  height: 100dvh;
  border: 40px solid #F4F3F7;
  overflow-x: hidden;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1;
  margin-left: 20px;
  margin-top: 5px;
  color: #291711;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  margin-left: 23px;
  color: #291711;
  margin-bottom: 45px;
}

h3 {
  font-weight: 600;
  font-size: 50px;
  line-height: 1;
}

p {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  color: #291711;
}

.inside {
  background-color: transparent;
  width: calc(100dvw - 80px);
  height: calc(100dvh - 80px);
  border: 1px solid #291711;
  overflow-y: scroll;
  scrollbar-width: none;
}
.inside .container {
  height: calc(100dvh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.inside .container ul li {
  list-style-type: none;
}
.inside .container a {
  text-decoration: none;
  color: #291711;
}
.inside .container a:hover {
  opacity: 0.5;
  transition: 200ms;
}
.inside .container nav ul {
  margin-left: 23px;
}
.inside .container nav ul li {
  margin-top: 5px;
}
.inside .container nav ul li .line {
  background-color: #291711;
  height: 1px;
  width: 55px;
}
.inside .container nav ul li a {
  font-weight: 600;
}
.inside .container nav ul li a:active {
  font-weight: 600;
}
.inside .container nav ul li a:focus {
  font-weight: 600;
}
.inside .container p.bio {
  width: 200px;
  margin-left: 23px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.inside .container .all-projects {
  margin-top: 50px;
}
.inside .container .project {
  margin-left: 23px;
  margin-top: 20px;
}
.inside .container .project p {
  font-weight: 600;
  line-height: 1;
}
.inside .container ul.contacts {
  margin-top: 100px;
}
.inside .container ul.contacts li {
  font-weight: 800;
  margin-left: 23px;
  margin-top: 20px;
}
.inside .container .languages, .inside .container .skills {
  margin-left: 23px;
  margin-top: 50px;
}
.inside .container .languages h3, .inside .container .skills h3 {
  font-size: 30px;
  font-weight: 500;
}
.inside .container .languages ul, .inside .container .skills ul {
  margin-left: 30px;
}
.inside .container .languages ul li, .inside .container .skills ul li {
  margin-top: 5px;
}
.inside .container .skills {
  margin-top: 30px;
}

.inside::-webkit-scrollbar {
  display: none;
}

.figure-one {
  height: 200px;
  width: 200px;
  border-radius: 40px;
  position: absolute;
  top: -160px;
  left: -160px;
  z-index: -1;
  background-color: #7CA982;
  animation: 120s 0s linear infinite movimento-one;
}

@keyframes movimento-one {
  0% {
    transform: translate(-10dvw, -10dvh) rotate(0deg);
  }
  33% {
    transform: translate(130dvw, 50dvh) rotate(120deg);
  }
  66% {
    transform: translate(50dvw, 85dvh) rotate(240deg);
  }
  100% {
    transform: translate(-10dvw, -10dvh) rotate(360deg);
  }
}
.figure-two {
  height: 150px;
  width: 150px;
  border-bottom-left-radius: 65%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  background-color: #07BEB8;
  animation: 40s 0s infinite movimento-two;
}

@keyframes movimento-two {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(4);
  }
}
.figure-three {
  height: 300px;
  width: 300px;
  background-color: #0A8754;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  position: absolute;
  bottom: 15px;
  left: -100px;
  z-index: -1;
  animation: 120s 0s linear infinite movimento-three;
}

@keyframes movimento-three {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 500px) and (max-width: 899px) {
  body {
    overflow: hidden;
  }
  p.bio {
    margin: 0 20px 0 0;
  }
  .biography {
    align-self: end;
  }
  .contacts {
    margin-right: 40px;
  }
  .contact-section {
    margin-left: auto;
  }
  .figure-one {
    height: 400px;
    width: 400px;
  }
  .lang-and-skill {
    margin-right: 40px;
    align-self: end;
  }
}
@media only screen and (min-width: 900px) {
  body {
    overflow: hidden;
  }
  p.bio {
    margin: 0 20px 0 0;
  }
  .biography {
    align-self: end;
  }
  .all-projects {
    align-self: end;
    margin-right: 20px;
    max-width: 600px;
    justify-self: end;
  }
  .all-projects .project {
    display: flex;
    align-items: end;
  }
  .all-projects .project h3 {
    width: 650px;
  }
  .all-projects .project p {
    order: -1;
    margin-bottom: 5px;
    margin-right: 20px;
    width: 200px;
  }
  .contacts {
    margin-right: 40px;
  }
  .contact-section {
    margin-left: auto;
  }
  .lang-and-skill {
    margin-right: 40px;
    align-self: end;
  }
  .figure-one {
    height: 400px;
    width: 400px;
  }
  .figure-three {
    position: absolute;
    bottom: -100px;
    left: -100px;
    animation: 40s 0s linear infinite movimento-three;
  }
}