* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

body {
  background-color: #F4F3F7;
  width: 100vw;
  height: 100vh;
  border: 40px solid #F4F3F7;
  overflow-x: hidden;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1;
  margin-left: 20px;
  margin-top: 5px;
  color: #291711;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  margin-left: 23px;
  color: #291711;
  margin-bottom: 45px;
}

p {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  color: #291711;
}

.inside {
  background-color: transparent;
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  border: 1px solid #291711;
  overflow-y: scroll;
  scrollbar-width: none;
}
.inside ul {
  margin-left: 23px;
}
.inside ul li {
  list-style-type: none;
  margin-top: 5px;
}
.inside ul li .line {
  background-color: #291711;
  height: 1px;
  width: 55px;
}
.inside ul li a {
  text-decoration: none;
  color: #291711;
  font-weight: 600;
}
.inside ul li a:hover {
  opacity: 0.5;
  transition: 200ms;
}
.inside ul li a:active {
  font-weight: 600;
}
.inside ul li a:focus {
  font-weight: 600;
}
.inside .container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.inside p.bio {
  width: 200px;
  margin-left: 23px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.inside::-webkit-scrollbar {
  display: none;
}

.figure-one {
  height: 200px;
  width: 200px;
  border-radius: 40px;
  position: absolute;
  top: -160px;
  left: -160px;
  z-index: -1;
  background-color: #7CA982;
  animation: 120s 0s linear infinite movimento-one;
}

@keyframes movimento-one {
  0% {
    transform: translate(-10vw, -10vh) rotate(0deg);
  }
  33% {
    transform: translate(130vw, 50vh) rotate(120deg);
  }
  66% {
    transform: translate(50vw, 85vh) rotate(240deg);
  }
  100% {
    transform: translate(-10vw, -10vh) rotate(360deg);
  }
}
.figure-two {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  background-color: #07BEB8;
  animation: 40s 0s infinite movimento-two;
}

@keyframes movimento-two {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(4);
  }
}
.figure-three {
  height: 300px;
  width: 300px;
  background-color: #0A8754;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  position: absolute;
  bottom: 15px;
  left: -100px;
  z-index: -1;
  animation: 30s 0s linear infinite movimento-three;
}

@keyframes movimento-three {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 800px) and (orientation: landscape) {
  body {
    overflow: hidden;
  }
  p.bio {
    margin: 0 20px 0 0;
    align-self: end;
  }
  .figure-one {
    height: 400px;
    width: 400px;
  }
  .figure-three {
    position: absolute;
    bottom: -100px;
    left: -100px;
  }
}