@import "../../variables.scss";

header{
    margin-bottom: 45px;
    margin-top: 5px;

    h1, h2 {
        font-weight: 300;
        line-height: 1;
        color: $dark;
    }
    h1{
        font-size: 60px;
        margin-left: 20px;
    }
    h2 {
        font-size: 20px;
        margin-left: 23px;
    }
}
