@import "../../variables.scss";

.inside{
    .container{
        .outlet{
            width: 400px;

            .all-projects{
                width: 400px;

                .project{
                    margin-bottom: 30px;

                    h3{
                        width: 400px;
                        font-size: 30px;

                        a{
                            display: block;
                            text-decoration: none;
                            color: $dark;
                        }
                        a:hover{
                            opacity: 0.5;
                            transition: 200ms;
                        }
                    }
                    p {
                        font-weight: 600;
                        line-height: 1;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 499px) {
    .inside {
        .container {
            .outlet {
                .all-projects {
                    .project {
                        h3 {
                            font-size: 35px;
                        }
                        p {
                            font-weight: 600;
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 899px){
    .inside {
        .container {
            .outlet {
                .all-projects {
                    .project {
                        padding-left: 23px;

                        h3 {
                            font-size: 40px;
                        }
                        p {
                            font-weight: 600;
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .inside {
        .container {
            .outlet {
                width: 550px;
                
                .all-projects {
                    width: 550px;

                    .project {
                        display: flex;
                        align-items: center;

                        h3{
                            font-size: 50px;
                            width: 420px;
                        }
                        p {
                            order: -1;
                            margin-bottom: 5px;
                            margin-right: 20px;
                            width: 130px;
                        }
                    }
                }
            }
        }
    }
}