@import "./variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
}

body {
    background-color: $base;
    width: 100dvw;
    height: 100dvh;
    border: 40px solid $base;
    overflow: hidden;
}

h3 {
    font-weight: 600;
    font-size: 50px;
    line-height: 1;
}

p {
    font-weight: 800;
    font-size: 16px;
    line-height: 1.2;
    color: $dark;
}